{% extends 'base.html' %}
{% block content %}
<div class="card-body">
    <h4>Edit Student</h4>
<body>  
<div class="container-fluid">
        <div class="user-profile mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0 mt-2">Edit Student</h5>
                </div>                
                <!-- user profile first-style start-->
                <div class="col-sm-6 offset-md-3 col-12">
                    <div class="card hovercard text-center mt-3 rs-mt-60">
                        <form action="" id="edit_student" method="post">
                            {% csrf_token %}
                            <div class="info mt-5 text-start">
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Name</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" name="name" id="name"  minlength="2" maxlength="30" class="form-control" value="{{est.name}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Class</label>
                                    <div class="col-md-8 col-12">
                                        <input type="number" name="std" id="std"   maxlength="2" class="form-control" value="{{est.std}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Section</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" name="section" id="section"   maxlength="1" class="form-control" value="{{est.section}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Roll No</label>
                                    <div class="col-md-8 col-12">
                                        <input type="number" name="roll_no" id="roll_no"   maxlength="2" class="form-control" value="{{est.roll_no}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Address</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" name="address" id="address"   maxlength="100" class="form-control" value="{{est.address}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Mobile No</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" name="mobile_no" id="mobile_no"   maxlength="12" class="form-control" value="{{est.mobile_no}}">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="rs-pb-0 col-md-4 col-12 col-form-label">Blood Group</label>
                                    <div class="col-md-8 col-12">
                                        <input type="text" name="blood_group" id="blood_group"   maxlength="4" class="form-control" value="{{est.blood_group}}">
                                    </div>
                                </div>
                                <div class="card-footer text-end pt-2 p-0 mt-2">
                                    <div class="col-sm-9 offset-sm-3">
                                        <button class="btn btn-primary" type="submit" data-bs-original-title=""
                                            title="">Update</button>   
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </body>  
</div> 
{% endblock %}